<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <a href="index.html">
                    <img src="./images/logo.jpg" alt="Travello Logo">
                </a>
            </div>
            <button class="burger" id="burger" aria-label="Меню">
                <svg class="burger-icon" viewBox="0 0 32 32">
                    <use class="icon-menu" xlink:href="./images/sprite.svg#icon-menu"></use>
                    <use class="icon-close" xlink:href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="nav-list">
                <li><a href="./directions.html" class="nav-link">Напрямки</a></li>
                <li><a href="./hotels.html" class="nav-link">Готелі</a></li>
                <li><a href="./flights.html" class="nav-link">Авіарейси</a></li>
                <li><a href="./reservation.html" class="nav-link">Бронювання</a></li>
            </ul>

            <div class="auth-box">
                <a href="#" class="login-btn">Логін</a>
                <a href="#" class="signup-btn">Зареєструватися</a>

            </div>
        </nav>
    </div>
</header>